body,
html {
  margin: 0;
}
.loginBilden {
  position: relative;
  height: 100vh;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100%;
}
.content span.img-text {
  background-color: #333;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
  letter-spacing: 10px;
}

/* #artback {
    background-image: url(./images/background.png);
  }
  
  #mountain {
    background-image: url(./images/mountains.png);
  }
  
  #logoland {
    background-image: url(./images/logo_land.png);
  }
  
  #jungle1 {
    background-image: url(./images/jungle1.png);
  }
  
  #jungle2 {
    background-image: url(./images/jungle2.png);
  }
  
  #jungle3 {
    background-image: url(./images/jungle3.png);
  }
  
  #jungle4 {
    background-image: url(./images/jungle4.png);
  }
  
  #jungle5 {
    background-image: url(./images/jungle5.png);
  }
  
  #manonmountain {
    background-image: url(./images/man_on_mountain.png);
  } */
